venv/
__pycache__/
*.pyc
.env

# Ignore raw data
data/raw/

# Ignore all processed data BUT allow DVC files
data/processed/*
!data/processed/*.dvc

# Optional folders
data/embeddings/
models/
logs/

*.egg-info/
.DS_Store